@media screen and (min-width: 480px) {
	h1 {
		text-align: left;
		font-size: 2em;
		text-indent: .5em;
	}
	h2 {
		text-align: left;
		text-indent: 1em;
	}
}

@media screen and (min-width: 660px) {
	h1 {
		text-align: center;
		font-size: 3em;
	}

	h2 {
		text-align: center;
	}

	ul {
		text-align: center;
	}
}